openai
python-dotenv
streamlit
pandas
scikit-learn
pypdf
chromadb
strands-agents
strands-agents-tools
strands-agents[anthropic]
langchain-text-splitters
pyodbc
sentence_transformers
huggingface_hub
langchain_openai